/* General Elements*/
body{
	background-image: url("../images/mine.png")
}
div{
	background-color: rgb(75, 71, 71);
	margin: 10px;
	width: 25%
}
div{
	border: solid 2px rgb(10, 85, 104);
	padding: 10px;
}
h1, h3, span{
	font-weight: bold;
	text-align: center;
}
h1{
	font-size: 30pt;
}
ol{
	list-style: decimal inside; 
}
ul {
	list-style: disc inside;
	text-indent: 20px;
}
/* Specfic Elements*/
div.header, div.gems{
    background-color: #171522;
    color: #3092c7;
}
div.header, div.instructions{
	width: 50%;
}
/* Classes */
.numberToMatch, .winsAndLosses{
	float: left;
	width: 15%;
	height: 60px;
}
.userTotal{
	width: 15%;
	height: 60px;
}
.gems{
	clear: both;
}
.gemImage{
	height: 60px;
	margin: 10px;
}
/* IDs */
#blue{
	color: #3092c7;
}
#pink{
	color: #aa004f;
}
#purple{
	color: #470544;
}
#white{
	color: #f0eeea;
}